This is the work everyone just stole form me!<br>
<br>
This is a random paring app. It will take a list of names seperated by a "," and randomly pair them. Should your list have an odd number of names it will add the remaining name to the last group.<br>
<br>
Enter your list of names below. Then click submit.<br>
<br>
Example of list entry: John, Mark, Adam...

<form method = "post" action = "names">
	<input type = "text" autofocus="autofocus" name = "user_names">
	<input type = "submit">
</form>

lyle, jacob, jeremy, ysabele, lotfi, cyndi, don, stephanie, susan, adam, mike, maxx, john