<!--<form method = "post" action = "names">
	<input type = "text" autofocus="autofocus" name = "user_names">
	<input type = "submit">
</form>!-->




<form method = "post" action = "names">
	 <% num.to_i.times do %>
		<input type = "text" name = "user_names[]">
		<% end %>
	<input type = "submit">
</form>