Your parings are listed below.<br>
<br>
If you have another list to pair, feel free to do so at the bottome of the page.<br>
<br>
<%= name_pairs %>
<br>
<form method = "post" action = "names">
	<input type = "text" autofocus="autofocus" name = "user_names">
	<input type = "submit">
</form>

lyle, jacob, jeremy, ysabele, lotfi, cyndi, don, stephanie, susan, adam, mike, maxx, john