The parings are listed by group number below.<br>
<br>
If you have another list to pair, feel free to do so at the bottome of the page.<br>
<br>
<%= random_names_array %>

<form method = "post" action = "names">
	<input type = "text" autofocus="autofocus" name = "user_names">
	<input type = "submit">
</form>