This is a paring app. If you give it a list of names seperated by a "," it will randomly pair the names. Should your list have an odd number of names it will add the remaining three names to one group.<br>
<br>
Enter your list of names below. Then click submit.

<form method = "post" action = "names">
	<input type = "text" autofocus="autofocus" name = "user_names">
	<input type = "submit">
</form>