<link rel = "stylesheet" href = "css/style.css">

<p>How many people are in class today?</p>


<form method = "post" action = "names" id = "text_box">
    <input type ="number" min = 2 autofocus = "autofocus" id ="myInput" oninput = "myFunction()" >
    <p id = "demo"></p>
    <br>
    <input type = "submit">
</form></center>

<script src = "js/auto_box.js"></script>