<p>How many people are in class today?</p>

<input type="text" autofocus ="autofocus" id="myInput" oninput="myFunction()">

<p id="demo"></p>

<script>
function myFunction() {
    var x = document.getElementById("myInput").value;
    for (i = 0; i < x; i++) 
    document.getElementById("demo").innerHTML = "Enter their names in the boxes below:<br>";
        for (var i = 1; i <= x; i++){
        var input = document.createElement("input");
        input.type = "text";
        document.getElementById("demo").appendChild(input);
        }
}
</script>

<form method = "post" action = "students">
    <input type="submit">
</form>